<h1>Photo Details</h1>

<img src="<%= @i.source %>" width="720">

<p> <%= @i.caption %> </p>

<a href="/photos">Back</a>
<a href= "<%= @edit_path %>">Edit</a>
<a href= "<%= @delete_path %>">Delete</a>